* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*body {display:flex;
    }*/
body{
    background-image: url(https://images.theconversation.com/files/557506/original/file-20231103-15-cq6i0x.jpg?ixlib=rb-1.1.0&rect=0%2C0%2C2060%2C1452&q=45&auto=format&w=926&fit=clip);
    background-size:100%;
    background-repeat: repeat;
    background-attachment: scroll;
    position: relative;
    
}

/* set my main div to 1100 vh so my foooter would stay to the bottom*/
#blog-post{
    min-height: 100vh;
}
/* styled my header*/
.top {
    background-color: #f0f0f0;
    border: 5px solid #333;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;

}
/*styled my footer*/
.bottom{
    background-color: #f0f0f0;
    border: 5px solid #333;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
   
}
/* my two modes*/
.dark{
    background-color: rgb(61, 168, 204, 0.5);
    
}

.light{
    background-color: rgb(206, 206, 37, 0.5);
}